@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="bg-body" class="width:"100px">
    <img class="width:"100px" src="~/img/bg_hero.jpg" />
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
